@charset "UTF-8";

body {
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0.918), rgba(0, 0, 255, 0.895));
    font: 12pt monospace;
    text-align: center;
}

button {
    background-color: rgba(0, 0, 255, 0.329);
    margin: 12px;
    font-size: 12pt; padding: 30px;
}

main {
    background-image: linear-gradient(to right, grey, transparent);
    margin: 0px 10%;
    border-radius: 20px 0px;
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.508);
}

h1 {
    background-color: transparent;
    color: white;
    margin: -8px -6px 4px ;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.508);
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.508);

}

.hot {
    color: red;
}

.Cold {
    color: blue;
}